@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    border: 1px;
}

.logo img {
    width: 5rem;


}

.logo-txt {
    margin-left: 2rem;
    transition: all 0.8s;
    color: black;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;



}

.nav-bar a {
    margin-left: 4rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.8s;
}


.nav-bar a:hover {
    transform: scale(1.5);
    border-bottom: 1px solid black;
}

.logo-txt:hover {
    transform: scale(1.5);
    margin-left: 5rem;
}

.content-main {
    background-color: #000000ad;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rigth-text {
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: 40rem;
    background-color: #DCDCDC;
    box-shadow: 23px 12px 25px -16px rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;




}

.logo-txt h1 {
    font-weight: 400;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 2rem;
    font-weight: 350;


}


.content b {
    color: #000000ad;
    font-weight: bold;
}


.box-text {
    /* border: 2.5px solid black; */
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 2rem;
    flex-direction: column;
    background-color: #000000ad;
    transition: all 0.8s;
    box-shadow: 23px 12px 25px -16px rgba(0, 0, 0, 1);
    cursor: pointer;

}

.box-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: white;

}

.img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.img-box img {
    width: 5rem;

}

.img-box h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255, 0.783);
}

.content-box p {
    font-weight: 350;
}

#first-box:hover {
    transform: scale(1.2);
    margin-right: 2rem;
    margin-top: 0.5rem;
}

#second-box:hover {
    transform: scale(1.2);
    margin-left: 3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;

}


#third-box:hover {
    transform: scale(1.2);
    margin-left: 3rem;
    margin-right: 2.5rem;
    margin-top: 0.5rem;


}

.content-p {
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    text-align: center;
    font-weight: 550;
    color: black;
}

.content-main1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: white;
    /* margin-top: 2rem; */
    font-size: 1.2rem;

}

.container-main1 {
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 40rem;
    align-items: center;
    /* background-color: white; */






}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 10rem; */
    width: 40rem;
    height: 35rem;
    /* background-color: rgba(255, 255, 255, 0.644); */
    /* color:#525252; */
    /* margin-bottom: 5rem; */
    /* background-color: #525252; */




}

.img-container img {
    width: 35rem;
}

.text-container-main {
    display: flex;
    width: 40rem;
    height: 35rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 5rem; */



}

.conteudo-estrat {
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: white;
    height: 10rem;
    margin-top: 10px;
    box-shadow: 10px 7px 23px -3px rgba(0,0,0,0.75);

}


