.home-main {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-container {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

.home-container2 {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 40rem;
    justify-content: center;
    align-items: center;
}


.home-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-home-text-left {
    width: 45vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-home-text-right {
    width: 45vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-content-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 40rem;
}
.img-content-home img{
    width: 45vw;
    height: 40rem;
}

.text-container-left{
    width: 45vw;
    height: 30rem;
    background-color: black;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    color: white;
}
.text-container-left h1{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 450;
}



.p-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.p-container-left p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
}