@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    border: 1px;
    }

.logo img{
    width: 10rem;
    
   
}

.logo-txt{
    margin-left: 2rem;
    transition: all 0.8s;
    color: white;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
   
    

}

.nav-bar a{
    margin-left: 4rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 1.2rem; 
    transition: all 0.8s;
}


.nav-bar a:hover{
    transform: scale(1.5);
    border-bottom: 1px solid black;
}

.logo-txt:hover{
    transform: scale(1.5);
    margin-left: 5rem;
}

.content-main{
    background-color: rgb(69, 63, 63);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.rigth-text{
    display: flex;
    flex-direction: column;
    width: 65rem;
    height: 40rem;
    background-color: #DCDCDC;
    margin-left: 10rem;
    box-shadow: 23px 12px 25px -16px rgba(0,0,0,1);
    border-radius: 4px;


    
   
}




