@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    border: 1px;
}

.logo img {
    width: 5rem;
}

.logo-txt {
    margin-left: 2rem;
    transition: all 0.8s;
    color: black;
}

.logo-txt h1 a {
    color: black;
    text-decoration: none;
}



.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

.nav-bar a {
    margin-left: 4rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.8s;
}

.nav-bar a:hover {
    transform: scale(1.5);
    border-bottom: 1px solid black;
}

.logo-txt:hover {
    transform: scale(1.5);
    margin-left: 5rem;
}

.content-main {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rigth-text {
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: 40rem;
    background-color: black;
    box-shadow: 23px 12px 25px -16px rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;

}

.rigth-text h1 {
    color: white;
}

.logo-txt h1 {
    font-weight: 400;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 2rem;
    font-weight: 350;
}

.content b {
    color: white;
    font-weight: bold;
}

.box-text {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    flex-direction: column;
    background-color: #000000ad;
    transition: all 0.8s;
    cursor: pointer;
}

.box-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: white;
}

.img-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.img-box img {
    width: 5rem;
}

.img-box h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255, 0.783);
}

.content-box p {
    font-weight: 350;
}




#first-box:hover {
    transform: scale(1.2);

}

#second-box:hover {
    transform: scale(1.2);


}

#third-box:hover {
    transform: scale(1.2);

}

.content-p {
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 550;
    color: white;
}

.content-main1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
    margin-top: 5rem;
}

.container-main1 {
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 40rem;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 35rem;
}

.img-container img {
    width: 35rem;
}

.text-container-main {
    display: flex;
    width: 40rem;
    height: 35rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-estrat {
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: white;
    height: 10rem;
    margin-top: 10px;
    box-shadow: 8px 8px 59px -18px rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
}

.conteudo-estrat h1 {
    font-size: 1.2rem;
    text-align: center;
}

.conteudo-estrat p {
    text-align: center;
    font-weight: 350;
}

@media screen and (max-width: 767px) {
    .conteudo-estrat {
        width: 100%;
        margin-top: 1rem;
    }
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}


.title-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin-bottom: 2rem;
}

.title-servicos h1 {
    font-size: 1.7rem;
    color: white;
    text-align: center;
}





.container-servicos {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 75rem;
    height: 35rem;
    justify-content: center;
    /* align-items: center; */

}

.container-superior {
    width: 75rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-inferior {
    width: 75rem;
    height: 15rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.box-superior {
    width: 24rem;
    height: 15rem;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    border: 2px solid white;

}

.box-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 30rem;
    height: 13rem;
    margin-right: 0.5rem;


}

.btn-schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    transition: all 0.8s;

}

.btn-schedule button {
    border: none;
    width: 22rem;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    height: 2.5rem;
    border-radius: 4px;
    box-shadow: 7px 0px 100px -72px rgb(0, 0, 0);
    cursor: pointer;



}


.img-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-boxes img {
    width: 3.5rem;
}

.content-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 0.5rem;
}

.content-boxes h1 {
    font-weight: 450;
    font-size: 1.5rem;
}

.content-boxes p {
    font-weight: 300;
    font-size: 0.9rem;
}

.btn-schedule:hover {
    transform: scale(1.2);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: white;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.content-footer {
    display: flex;
    width: 100vw;
    height: 10rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.container-footer {

    width: 25vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-footer h1 {
    text-align: center;
    font-weight: 450;
}

.link-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
}

.footer-content-link a {
    font-size: 2.5rem;
    font-weight: 400;

}

.footer-content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    margin-top: 1rem;
}

.footer-content-link p {
    transition: all 0.8s;
}

.footer-content-link p:hover {
    transform: scale(1.5);
}